#pp1 {font:oblique 16px/2em "Verdana"; text-align: justify; text-indent: 5.25px;}
#pp2 {font:italic 14px/1.5em "Times New Roman"; text-align: left; text-indent: 5.25px;}
#pp3 {font:bold 8px/1em "Comic Sans MS"; text-align: right; text-indent: 5.25px;}
