#pp1{font:16px/2em "Verdana";text-align: justify;font-style: oblique;text-indent: 5.25px;}
#pp2{font:14px/1.5em "Times New Roman";text-align: left;font-style: italic; text-indent:5.25px}
#pp3{font:16px/1.5em "Arial";text-align: right;font-weight:bold; text-indent: -5.25px}
